{% extends "base.html" %}
  {% block body %}
  <div class="container">
    <h2 class="display-5 mt-3">Configurations</h2>

    <hr/>

    <div class="container mt-3">
      {% for key, value in health %}
      <table class="table table-striped table-bordered">
        <thead class="table-dark">
          <tr>
            <th colspan=3 class="text-center">{{ key | capitalize}}</th>
          </tr>
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
        </thead>
        {% for sub_key, sub_value in value %}
        <tbody>
          <tr>
            <th>{{ sub_key }}</th>
            <td>{{ sub_value }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endfor %}
    </div>
  </div>

  {% endblock %}
