{% extends "base.html" %}
{% block body %}

  <div class="container mt-5 mb-5">

  <main>


      <div class="container px-5">
        <h4 class="mb-3">New {{ record_class.__tablename__.title() }}</h4>
        <form hx-post="{{ url_for("create_transaction") }}" hx-encoding="multipart/form-data" hx-target="this">

          {% for field in record_class.model_fields %}

          <div class="row mb-3">
            <label for="{{ field }}" class="col-sm-2 col-form-label">{{ field }}</label>
            <div class="col-sm-10">
              <input
                type="{{ record_class.model_fields[field] | get_input_type_from_field }}"
                class="form-control"
                id="{{ field }}"
                name="{{ field }}"
                {% if record_class.model_fields[field].is_required() %}
                required
                {% endif %}
              >
            </div>
          </div>
          {% endfor %}


          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Create New {{ record_class.__tablename__}}</button>
        </form>
      </div>
    </div>
  </main>

</div>

{% endblock %}
