<!-- Generic table for any Pydantic type data type -->
{% extends "base.html" %}
{% block body %}

{% if not include_fields %}
    {% if rows|length > 0 %}
        {% set record_fields =  rows[0].__fields__ %}
    {% else %}
        {% set record_fields =  [] %}
    {% endif %}
{% endif %}

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                {% if table_index and "id" in record_fields %}
                <th scope="col">#</th>
                {% endif %}

                {% for column_name in record_fields %}
                    {% if column_name not in exclude_fields %}
                    <th scope="col">{{ column_name.title() }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for col in rows %}
            <tr id="table_line_{{ col.id }}">
                {% if table_index and "id" in record_fields %}
                <th scope="col">{{ col.id }}</th>
                {% endif %}

                {% for column_name in record_fields %}
                    {% if column_name not in exclude_fields %}
                    <td>{{ getattr(col, column_name) }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
