# backend
fastapi==0.109.0
pydantic==2.8.2
pydantic-settings==2.2.1
pydantic_core==2.20.1
uvicorn==0.24.0.post1
python-multipart==0.0.7
jinja2-fragments==1.2.1

# csv
pandas==2.2.2

# security
passlib[bcrypt]==1.7.4
pyjwt[crypto]==2.8.0

# database
psycopg2-binary==2.9.9
databases[postgresql]==0.4.2
sqlmodel==0.0.21
alembic==1.13.2
psycopg[binary]==3.1.13

# tests
pytest==7.4.2
httpx==0.25.1
